.fw-light {
    font-size: 2rem;
  }
  .text-body-secondary {
    font-family: "Sora", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
  }
  
  /* carousel jordan */
  .imgcarousel {
    height: 30%;
    width: 30%;
  }
  .carouseljordan {
    height: 100%;
    width: 100%;
    text-align: center;
  }