.formulario {
    display: grid;
    justify-content: center;
  }
  .form-check-label {
    color: $color_negro1;
  }
  .form-group {
    color: $color_negro1;
  }
  .buttonform {
    color: $color_negro1;
  }
  