h1 {
    font-family: "Archivo Black", sans-serif;
    color: rgba(245, 245, 245, 0.845);
    font-weight: 400;
    font-style: normal;
    text-align: center;
  }
  
  .tittlespan {
    color: $color_negro1;
  }
  
  .parrafo-yezzy {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-size: 1.5rem;
    text-align: center;
    margin: 1.5rem;
  }