// VARIABLES 

$color_blanco1: whitesmoke;
$color_blanco2: aliceblue; 
$color_rojo: #b81717;
$color_negro1: #000;








@import "body";
@import "navegador";
@import "contacto";
@import "footer";
@import "card";
@import "productos";
@import "mediamq";
@import "jordan";
@import "carousel";
@import "fuentes";




